// Defines a box shadow effect used throughout the project.
@mixin swBoxShadow {
   box-shadow  : 0 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.sw-wrapper {
   margin-top  : 52px;
   padding     : 8px;
   @include swBoxShadow();
   height      : inherit;
   overflow-y  : auto;

   .sw-app-container {
      margin: 16px;

      .sw-autocomplete-field {
         width: 100%;
      }

      .sw-volume-button-container {
         height         : 60px;
         width          : 100%;
         display        : flex;
         justify-content: center;
         vertical-align : middle;
         align-items    : center;

         .mat-stroked-button {
            @include swBoxShadow();
         }
      }

      .sw-save-button-container {
         height         : 60px;
         width          : 100%;
         display        : flex;
         justify-content: center;
         vertical-align : middle;
         align-items    : center;

         .mat-stroked-button {
            @include swBoxShadow();
         }
      }
   }
}
